<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>File Upload</header>

    <nav>
      <button><a href='/fileUpload'>Inicio</a></button>
    </nav>

    <p>Nombre del video: <%= name %></p>

    <video src='<%= publicPath %>' width="320" height="240" controls/>
  </body>

  <footer>
    <button><a href='https://github.com/jafcalvente/file_upload'>GitHub</a></button>
  </footer>
</html>

